.card-p{
    margin-bottom:3px
}

label.form-label{
    color:white
}


#admin-form {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid lightslategray;

}

body {
    overflow-y: scroll;
    color:black;
    --bs-body-bg: black
   
}

h2,h3 {
    color:white

}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
    
  
.fade-in { animation: fadeIn 2s; }

.fade-out { animation: fadeOut 0.5s; }
  

div.card{
    border-radius: 10px;
    background: black;
    border: 2px solid lightslategray;
}


.card-body a, p ,h5
{   
    
    color:white;
    text-decoration: none;
}

.card-title{
    color:white;

}

div.table-responsive {
    border-radius: 10px;
}

p.card-text, div.card-title.h5, a.card-title {
    margin-bottom:12px
}

button.btn:not(div.navbar-nav > button.btn.btn-light):not(div.input-group > button) {
    margin: 4px 4px 4px 0px;
}

@media only screen and (min-width: 992px) {
    #admin-form {
        width:50%
    }
  }


  @media only screen and (max-width: 993px) {
    #admin-form {
        width:100%
    }
  }

